body{
    padding: 20px;
    text-align: center;
    background-color: black;
    color:green;
}
h1{
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}
h2{}